/* importaciones */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
/* variables */
:root {
  --back-color-five: #f2f0f0;
  --back-color-four: #e7c4f386;
  --back-color-one: #d9d9d9;
  --back-color-six: #fafafa;
  --back-color-three: #fff;
  --back-color-two: #e4b1fd;
  --color-one: #9d3aeb;
  --color-two: #111;
  --font-one: "Playfair Display", serif;
  --font-two: "Inter", sans-serif;
  --px-10: 10px;
  --px-20: 20px;
}

body {
  background-color: var(--back-color-three);
  box-sizing: border-box;
  font-family: var(--font-one);
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.main-container {
  display: flex;
  font-weight: lighter;
}
/* navbar */
.nav .menu {
  background-color: var(--back-color-four);
  border-radius: 20px;
  border: 1px solid var(--color-two);
  font-family: var(--font-two);
  list-style: none;
  margin: 1rem;
  width: 20rem;
}
/* botones */
button {
  background-color: var(--back-color-three);
  border-radius: 30px;
  border: 1px solid var(--color-two);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin: 1rem;
  padding: 0.8rem;
  width: 15rem;
  &:hover {
    background-color: var(--color-one);
  }
}
/* formulario */
.form-data {
  background-color: var(--back-color-six);
  border-radius: 12px;
  border: 1px solid var(--color-two);
  display: flex;
  font-family: var(--font-two);
  margin: 1rem;
  padding: 0 2rem;
  width: 54rem;
}

.title-form {
  font-size: 500px;
}

form input {
  width: 14rem;
}

form div {
  background-color: var(--back-color-three);
  border-radius: 30px;
  border: 1px solid var(--color-two);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin: 1rem;
  padding: 0.5rem;
  width: 15rem;
  & input {
    border: none;
  }
}
