@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
    text-decoration: none;
}
.container-navbar{
    display: flex; 
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    box-shadow: 1px 0.5px 8px 1px;
}

header img{
    height: 80px;
}

.navbar{
    display: flex;
    gap: 20px;  
    align-items: center;
}

.navbar-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    list-style: none;
    font-family: 'lato', sans-serif;
}

.navbar-list li button{
    padding: 10px 20px;
    border-radius: 10px;
    background-color: white;
    border: none;
    &:hover{
        background-color: #f3e0fa;
    }
}
#openModalBtn{
    cursor: pointer;
    background-color: white;
}

