*{
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
}
.container-navbar{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

header img{
    height: 50px;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style: none;
}